
# Atmospheric Model Configuration Parameters
# ------------------------------------------
           NX: @NX
           NY: @NY

 IOSERVER_NODES: @NUM_OSERVER_NODES
NUM_BACKEND_PES: @NUM_BACKEND_PES

      AGCM_IM: @AGCM_IM
      AGCM_JM: @AGCM_JM
      AGCM_LM: @AGCM_LM
AGCM_GRIDNAME: @AGCM_GRIDNAME

      AGCM.GRID_TYPE: @GRID_TYPE
      AGCM.GRIDNAME: @AGCM_GRIDNAME
      @CUBE_AGCM AGCM.NF: @AGCM_NF
      AGCM.LM: @AGCM_LM
      AGCM.IM_WORLD: @AGCM_IM
      @LATLON_AGCM AGCM.JM_WORLD: @AGCM_JM

DYCORE: @DYCORE

 SOLAR_DT: 3600
 IRRAD_DT: 3600
SATSIM_DT: 1800

SOLARAvrg: 0
IRRADAvrg: 0

EOT: .TRUE.
ORBIT_ANAL2B: .TRUE.

# Print Resource Parameters (0: Non-Default values, 1: ALL values)
#-----------------------------------------------------------------
PRINTRC: 1

# Set the number of parallel I/O processes to use when
# RESTART_TYPE and or CHECKPOINT_TYPE are set to pbinary or pnc4
#---------------------------------------------------------------
PARALLEL_READFORCING: 0
NUM_READERS: @NUM_READERS
NUM_WRITERS: 1

# Write restarts by oserver (Default: NO)
WRITE_RESTART_BY_OSERVER: @RESTART_BY_OSERVER

# Resolution of state passed to atmos analysis
# --------------------------------------------
ANA_GRIDNAME: PC@AGCM_IMx@AGCM_JM-DC
ANA_LM: @AGCM_LM

# Restart Record Parameters
# -------------------------
RECORD_FINAL:  >>>RECFINL<<<
RECORD_FREQUENCY: 000000       000000
RECORD_REF_DATE: >>>REFDATE<<< >>>FCSDATE<<<
RECORD_REF_TIME: >>>REFTIME<<< >>>FCSTIME<<<


# IAU and In-Line BIAS Correction Parameters
# ----------------------------------------------------------------------------------
# AGCM_IMPORT   = IAU  Analysis   Increment
# AGCM_INTERNAL = BIAS Correction Increment: BIAS(n+1) = ALPHA*IAU(n) + BETA*BIAS(n)
# ----------------------------------------------------------------------------------

>>>FORCEDAS<<<AGCM_IMPORT_RESTART_FILE:               agcm_import_rst

>>>FORCEGCM<<<AGCM_INTERNAL_RESTART_FILE:             agcm_internal_rst
>>>FORCEGCM<<<AGCM_INTERNAL_CHECKPOINT_FILE:          agcm_internal_checkpoint
>>>FORCEGCM<<<AGCM_INTERNAL_CHECKPOINT_TYPE:          @CHECKPOINT_TYPE

>>>FORCEGCM<<<AGCM_ALPHA: 0.000
>>>FORCEGCM<<<AGCM_BETA:  1.000

MAPL_ENABLE_BOOTSTRAP: @BOOT

# Required AGCM Model Restart Files
# ---------------------------------

SOLAR_INTERNAL_RESTART_FILE:            solar_internal_rst
SOLAR_INTERNAL_CHECKPOINT_FILE:         solar_internal_checkpoint
SOLAR_INTERNAL_CHECKPOINT_TYPE:         @CHECKPOINT_TYPE

IRRAD_INTERNAL_RESTART_FILE:            irrad_internal_rst
IRRAD_INTERNAL_CHECKPOINT_FILE:         irrad_internal_checkpoint
IRRAD_INTERNAL_CHECKPOINT_TYPE:         @CHECKPOINT_TYPE

PCHEM_INTERNAL_RESTART_FILE:            pchem_internal_rst
PCHEM_INTERNAL_CHECKPOINT_FILE:         pchem_internal_checkpoint
PCHEM_INTERNAL_CHECKPOINT_TYPE:         @CHECKPOINT_TYPE

H2O_INTERNAL_RESTART_FILE:              h2o_internal_rst
H2O_INTERNAL_CHECKPOINT_FILE:           h2o_internal_checkpoint
H2O_INTERNAL_CHECKPOINT_TYPE:           @CHECKPOINT_TYPE

# Chemistry/AEROSOL Model Restart Files
# -------------------------------------
GOCART_IMPORT_RESTART_FILE:             gocart_import_rst
GOCART_IMPORT_CHECKPOINT_FILE:          gocart_import_checkpoint
GOCART_IMPORT_CHECKPOINT_TYPE:          @CHECKPOINT_TYPE

GOCART_INTERNAL_RESTART_FILE:           gocart_internal_rst
GOCART_INTERNAL_CHECKPOINT_FILE:        gocart_internal_checkpoint
GOCART_INTERNAL_CHECKPOINT_TYPE:        @CHECKPOINT_TYPE

GOCART.data_INTERNAL_RESTART_FILE:      gocartdata_internal_rst
GOCART.data_INTERNAL_CHECKPOINT_FILE:   gocartdata_internal_checkpoint
GOCART.data_INTERNAL_CHECKPOINT_TYPE:   @CHECKPOINT_TYPE

DU_INTERNAL_RESTART_FILE:               du_internal_rst
DU_INTERNAL_CHECKPOINT_FILE:            du_internal_checkpoint
DU_INTERNAL_CHECKPOINT_TYPE:            @CHECKPOINT_TYPE

SS_INTERNAL_RESTART_FILE:               ss_internal_rst
SS_INTERNAL_CHECKPOINT_FILE:            ss_internal_checkpoint
SS_INTERNAL_CHECKPOINT_TYPE:            @CHECKPOINT_TYPE

CA.oc_INTERNAL_RESTART_FILE:            caoc_internal_rst
CA.oc_INTERNAL_CHECKPOINT_FILE:         caoc_internal_checkpoint
CA.oc_INTERNAL_CHECKPOINT_TYPE:         @CHECKPOINT_TYPE

CA.bc_INTERNAL_RESTART_FILE:            cabc_internal_rst
CA.bc_INTERNAL_CHECKPOINT_FILE:         cabc_internal_checkpoint
CA.bc_INTERNAL_CHECKPOINT_TYPE:         @CHECKPOINT_TYPE

CA.br_INTERNAL_RESTART_FILE:            cabr_internal_rst
CA.br_INTERNAL_CHECKPOINT_FILE:         cabr_internal_checkpoint
CA.br_INTERNAL_CHECKPOINT_TYPE:         @CHECKPOINT_TYPE

NI_INTERNAL_RESTART_FILE:               ni_internal_rst
NI_INTERNAL_CHECKPOINT_FILE:            ni_internal_checkpoint
NI_INTERNAL_CHECKPOINT_TYPE:            @CHECKPOINT_TYPE

SU_INTERNAL_RESTART_FILE:               su_internal_rst
SU_INTERNAL_CHECKPOINT_FILE:            su_internal_checkpoint
SU_INTERNAL_CHECKPOINT_TYPE:            @CHECKPOINT_TYPE

CARMA_INTERNAL_RESTART_FILE:            carma_internal_rst
CARMA_INTERNAL_CHECKPOINT_FILE:         carma_internal_checkpoint
CARMA_INTERNAL_CHECKPOINT_TYPE:         @CHECKPOINT_TYPE

#STRATCHEM_INTERNAL_RESTART_FILE:        stratchem_internal_rst
#STRATCHEM_INTERNAL_CHECKPOINT_FILE:     stratchem_internal_checkpoint
#STRATCHEM_INTERNAL_CHECKPOINT_TYPE:     @CHECKPOINT_TYPE

#STRATCHEM_IMPORT_RESTART_FILE:          stratchem_import_rst
#STRATCHEM_IMPORT_CHECKPOINT_FILE:       stratchem_import_checkpoint
#STRATCHEM_IMPORT_CHECKPOINT_TYPE:       @CHECKPOINT_TYPE

#GMICHEM_INTERNAL_RESTART_FILE:          gmichem_internal_rst
#GMICHEM_INTERNAL_CHECKPOINT_FILE:       gmichem_internal_checkpoint
#GMICHEM_INTERNAL_CHECKPOINT_TYPE:       @CHECKPOINT_TYPE

#GMICHEM_IMPORT_RESTART_FILE:            gmichem_import_rst
#GMICHEM_IMPORT_CHECKPOINT_FILE:         gmichem_import_checkpoint
#GMICHEM_IMPORT_CHECKPOINT_TYPE:         @CHECKPOINT_TYPE

#GEOSCHEMCHEM_INTERNAL_RESTART_FILE:          geoschemchem_internal_rst
#GEOSCHEMCHEM_INTERNAL_CHECKPOINT_FILE:       geoschemchem_internal_checkpoint
#GEOSCHEMCHEM_INTERNAL_CHECKPOINT_TYPE:       @CHECKPOINT_TYPE

#GEOSCHEMCHEM_IMPORT_RESTART_FILE:            geoschemchem_import_rst
#GEOSCHEMCHEM_IMPORT_CHECKPOINT_FILE:         geoschemchem_import_checkpoint
#GEOSCHEMCHEM_IMPORT_CHECKPOINT_TYPE:         @CHECKPOINT_TYPE

MAM_INTERNAL_RESTART_FILE:              mam_internal_rst
MAM_INTERNAL_CHECKPOINT_FILE:           mam_internal_checkpoint
MAM_INTERNAL_CHECKPOINT_TYPE:           @CHECKPOINT_TYPE

ACHEM_INTERNAL_RESTART_FILE:            achem_internal_rst
ACHEM_INTERNAL_CHECKPOINT_FILE:         achem_internal_checkpoint
ACHEM_INTERNAL_CHECKPOINT_TYPE:         @CHECKPOINT_TYPE

TR_INTERNAL_RESTART_FILE:               tr_internal_rst
TR_INTERNAL_CHECKPOINT_FILE:            tr_internal_checkpoint
TR_INTERNAL_CHECKPOINT_TYPE:            @CHECKPOINT_TYPE

TR_IMPORT_RESTART_FILE:                 tr_import_rst
TR_IMPORT_CHECKPOINT_FILE:              tr_import_checkpoint
TR_IMPORT_CHECKPOINT_TYPE:              @CHECKPOINT_TYPE

HEMCO_INTERNAL_RESTART_FILE:            hemco_internal_rst
HEMCO_INTERNAL_CHECKPOINT_FILE:         hemco_internal_checkpoint
HEMCO_INTERNAL_CHECKPOINT_TYPE:         @CHECKPOINT_TYPE

HEMCO_IMPORT_RESTART_FILE:              hemco_import_rst
HEMCO_IMPORT_CHECKPOINT_FILE:           hemco_import_checkpoint
HEMCO_IMPORT_CHECKPOINT_TYPE:           @CHECKPOINT_TYPE

#OH_INTERNAL_RESTART_FILE:               oh_internal_rst
#OH_INTERNAL_CHECKPOINT_FILE:            oh_internal_checkpoint
#OH_INTERNAL_CHECKPOINT_TYPE:            @CHECKPOINT_TYPE

#OH_IMPORT_RESTART_FILE:                 oh_import_rst
#OH_IMPORT_CHECKPOINT_FILE:              oh_import_checkpoint
#OH_IMPORT_CHECKPOINT_TYPE:              @CHECKPOINT_TYPE

# Boundary Datasets
# -----------------
TOPO_MEAN_FILE:     topo_dynave.data
TOPO_GWDVAR_FILE:   topo_gwdvar.data
TOPO_TRBVAR_FILE:   topo_trbvar.data

# AeroChem Environment
# --------------------
     OX_RELAXTIME: @OX_RELAXTIME    # Standard Options:  GCM: 259200., DAS: 0.000
    CH4_RELAXTIME: 259200.
    N2O_RELAXTIME: 259200.
  CFC11_RELAXTIME: 259200.
  CFC12_RELAXTIME: 259200.
 HCFC22_RELAXTIME: 259200.
    H2O_RELAXTIME: 259200.
    OX_FRIENDLIES: ANALYSIS:DYNAMICS:TURBULENCE:MOIST
   CH4_FRIENDLIES: DYNAMICS:TURBULENCE:MOIST
   N2O_FRIENDLIES: DYNAMICS:TURBULENCE:MOIST
 CFC11_FRIENDLIES: DYNAMICS:TURBULENCE:MOIST
 CFC12_FRIENDLIES: DYNAMICS:TURBULENCE:MOIST
   H2O_FRIENDLIES: DYNAMICS:TURBULENCE:MOIST
HCFC22_FRIENDLIES: DYNAMICS:TURBULENCE:MOIST
       pchem_clim: species.data
       pchem_clim_years: @PCHEM_CLIM_YEARS

# Age-of-Air Parameters
# ---------------------
#AOA_FRIENDLIES: DYNAMICS:TURBULENCE:MOIST

# Set RADIATION Parameterizations
# -------------------------------
USE_RRTMG_IRRAD: 1.0

USE_RRTMG_SORAD: 1.0
ISOLVAR: 2
USE_NRLSSI2: .TRUE.
SOLAR_CYCLE_FILE_NAME: ExtData/g5gcm/solar/NRLSSI2.v2021.txt

NUM_BANDS: 30

#USE_RRTMGP_IRRAD: 1.0
#USE_RRTMGP_SORAD: 1.0
#RRTMGP_DATA_LW: /discover/nobackup/pnorris/RRTMGP-data.v1.5/rrtmgp/data/rrtmgp-data-lw-g128-210809.nc
#RRTMGP_DATA_SW: /discover/nobackup/pnorris/RRTMGP-data.v1.5/rrtmgp/data/rrtmgp-data-sw-g112-210809.nc
#RRTMGP_CLOUD_OPTICS_COEFFS_LW: /discover/nobackup/pnorris/RRTMGP-data.v1.5/extensions/cloud_optics/rrtmgp-cloud-optics-coeffs-lw.nc
#RRTMGP_CLOUD_OPTICS_COEFFS_SW: /discover/nobackup/pnorris/RRTMGP-data.v1.5/extensions/cloud_optics/rrtmgp-cloud-optics-coeffs-sw.nc

DIURNAL_BIOMASS_BURNING: yes

       RATS_PROVIDER: @RATS_PROVIDER   # options: PCHEM, GMICHEM, STRATCHEM (Radiatively active tracers)
       AERO_PROVIDER: @AERO_PROVIDER   # options: GOCART2G, MAM, none  (Radiatively active aerosols)
ANALYSIS_OX_PROVIDER: @OANA_PROVIDER   # options: PCHEM, GMICHEM, STRATCHEM, GOCART


# Model Tuning Parameters (For CMIP5 recommended SOLAR_CONSTANT and CO2 values, use -1)
# -------------------------------------------------------------------------------------
SOLAR_CONSTANT: -1
CO2:            -1


# Flags for SATSIM Output
# -----------------------
USE_SATSIM:       @SATSIM
USE_SATSIM_ISCCP: @ISCCP_SATSIM
USE_SATSIM_MODIS: @MODIS_SATSIM
USE_SATSIM_RADAR: @RADAR_SATSIM
USE_SATSIM_LIDAR: @LIDAR_SATSIM
USE_SATSIM_MISR:  @MISR_SATSIM
